@media (max-width: 480px) {
  .hide-dash{
    display: none;
  }
  .default-dropdown{
    display: none !important;
  }
  .navbar-vertical {
      width: 0% !important;
  }
  .modal-body-pad{
    padding-bottom: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .nav-header{
    margin-top: 15px !important;
    font-size: 15px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .off-canvas-open{
    display:block !important;
  }

  .app{
    margin-left: 0px !important;
  }
}

@media (min-width: 480px){
  .off-canvas{
    display:none !important;
  }
}

@media (max-width: 480px){
  .nav-row{
    margin: 0px !important;
  }
}

.wrapper{
  min-width: 400px !important;
}

.app {
  min-height: 970px;
  margin: 0px 0px 0px 100px;
  padding: 0px 150px;
  background-color: white;
}

.card-width{
  width: 0px;
}

.acct-trash-button-style{
  margin-top: 15px !important;
  vertical-align: middle;
  float: right;
}

.acct-bottom-border{
  border-style: solid;
  border-color: #f7f5f4;
  border-width: 0px 0px 2px 0px;
  padding: 0px;
}

.schedule-bottom-border{
  border-style: solid;
  border-color: #f7f5f4;
  border-width: 0px 0px 2px 0px;
  padding: 0px;
}

.acct-page-button{
  margin-bottom: 15px;
  margin-top: 25px;
  vertical-align: middle;
  float: right;
}

.accounts-header{
  color: #7b7a7a;
  padding-bottom: 15px;
  padding-top: 20px;
  font-weight: 500;
  float: left;
}

.Accounts{
  color: white;
  font-size: 15px;
  float: right;
  clear: right;
  margin-top: 12px;
  height: 0px;
  padding-right: 20px;
}

.account-button {
  float:left;
  vertical-align: middle;
  padding: 2px 0px 0px 0px;
}

body{
  overflow: hidden;
}

.card{
  border-style: solid;
  border-color: #2975e9;
  border-width: 1px;
  margin-right: 0px;
  min-width: 255px;
  max-width: 500px;
  margin-top: 20px;
}

.card-block {
  background-color: #2975e9;
  padding-bottom: 20px;
  max-height: 210px;
  padding-right: 0px;
}

.card-numbers{
  font-size: 50px;
  color: white;
  float: right;
  height: 50px;
  padding-right: 30px;
  padding-top: 5px;
}

.col-no-pad{
  padding: 0px;
}

.dashboard-header{
  color: #7b7a7a;
  border-style: solid;
  border-color: #f7f5f4;
  border-width: 0px 0px 2px 0px;
  padding-bottom: 15px;
  padding-top: 20px;
  font-weight: 500;
}

.database-input{
  border-style: none !important;
  margin-left: 30px !important;
  margin-bottom: 20px !important;
}

.default-dropdown{
  float:right;
  font-size: 30px;
  color: white;
}

.details-button{
  float:right;
  vertical-align: middle;
  padding: 0px;
  width: 80px;
}

.dropdown{
  float:right;
}

.dropdown-menu{
  margin-top: 50px;
  background-color: #072249;
}

.exit-style{
  color: black;
  font-size: 40px;
}

.float-left{
  float: left;
}

.handle{
  display: none;
}

.icon-chevron-down-default{
  padding-top: 5px;
  float:right;
  font-size: 20px;
}

.icon-card-default{
  font-size: 60px;
  color: white;
  padding-left: 10px;
  height: 80px;
  padding-bottom: 10px;
}

.icon-account-nav{
  font-size: 1px;
  color: #2975e9;
}

.icon-chevron-right{
  font-size: 10px;
  color: #2975e9;
}

.icon-plus{
  vertical-align: middle;
}

.Jobs{
  color: white;
  height: 1px;
  font-size: 15px;
  float: right;
  clear: right;
  padding-right: 35px;
  margin-top: 12px;
}

.jobs-bottom-border{
  border-style: solid;
  border-color: #f7f5f4;
  border-width: 0px 0px 2px 0px;
  padding: 0px;
}

.jobs-header{
  color: #7b7a7a;
  padding-bottom: 15px;
  padding-top: 20px;
  font-weight: 500;
  float: left;
}

.logout{
  color: yellow;
}

.login-container{
  min-height: 1000px;
}

.modal-body{
  padding: 0px;
}

.modal-body-pad{
  padding-bottom: 30px;
}

.modal-body-title{
  color: #339e99;
}

.modal-header{
  color: #7b7a7a;
  padding-bottom: 10px !important;
  padding-left: 35px !important;
}

.modal-header-style{
  clear: both;
}

.modal-side-pad{
  padding: 0px 15px 0px 15px;
}

.nav-menu-icon{
  margin-top: 10px;
  color: white;
  font-size: 30px;
}

.navbar{
  z-index: 1000;
  min-width: 50px;
  height: 50px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color:  #2975e9;
}

.nav-icon-style{
  font-size: 20px !important;
  text-align: center !important;
}

.nav-sidebar{
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #e7e7e7;
}


.nav-wrapper{
  width: 100%;
}

.nav-header{
  margin-left: 15px;
  float: left;
  color: white;
  font-size: 25px;
  vertical-align: middle;
  margin-top: 7px;
}

.navbar-vertical-link-title{
  font-size: 15px;
  text-align: center;
}

.navbar-vertical{
  overflow: hidden;
  margin-top: 50px;
  width: 100px;
}

.nav-row{
  margin-right: 70px;
}

.off-canvas-open{
  display:none;
  margin: 0px;
  width: 0px;
  padding: 0px;
}
.page-wrapper{
  margin: 0px 250px 0px 250px;
  background-color: white;
}

.pad-dlt-msg{
  margin-left:25px;
  padding-top: 35px;
  padding-bottom: 30px;
}

.pad-dropdown{
  float: right;
}

.pager-prev{
  float: left;
}

.pager-next{
  float: right;
}

.path-style{
  fill: #2975e9;
  opacity: .5;
}

.polygon-style{
  fill: #2975e9;
}

.provision-message{
  margin-right: 5px !important;
}

.reg-job-style{
  color: #7b7a7a;
  margin-top: 15px;
}

.Schedules{
  color: white;
  height: 1px;
  font-size: 15px;
  float: right;
  clear: right;
  padding-right: 20px;
  margin-top: 12px;
}

.search-style-accounts{
  display: inline-block;
  margin-top: 20px;
}

.search-style-jobs{
  display: inline-block;
  margin-top: 8px;
}

.select-data-size{
  border-style: none !important;
  max-height: 120px;
}

.table-pad{
  padding-top: 20px;
  display: block;
}

.text-bottom{
  vertical-align: bottom;
}

.icon-danger-style {
  margin-right: 10px;
  color: red;
}
#hideVis{
  visibility: hidden;
}
#makeVis{
  visibility:visible;
}

.wrapper{
  background-color: #f7f5f4;
}
